/* osmaps-toast styles */
.osmaps-toast .leaflet-notification {
  margin: 10px;
}

.osmaps-toast > .leaflet-notification.alert {
  background-color: #fbe6ee;
  color: #d40058;
  border: solid #d40058;
  border-width: 0 0 0 4px;
}

.osmaps-toast > .leaflet-notification.success {
  background-color: #ebfff5;
  color: #028043;
  border: solid #028043;
  border-width: 0 0 0 4px;
}

.osmaps-toast > .leaflet-notification.warning {
  background-color: #ffefe6;
  color: #ff5f00;
  border: solid #ff5f00;
  border-width: 0 0 0 4px;
}

.osmaps-toast > .leaflet-notification.info {
  background-color: #ececf4;
  color: #453c90;
  border: solid #453c90;
  border-width: 0 0 0 4px;
}

.osmaps-toast > .leaflet-notification.custom {
  background-color: #f5f5f5;
  color: #666666;
  border: solid #666666;
  border-width: 0 0 0 4px;
}
.osmaps-toast > .leaflet-notification.alert > .leaflet-notification-icon > i,
.osmaps-toast > .leaflet-notification.alert > .leaflet-notification-close-button {
  color: #d40058;
}

.osmaps-toast > .leaflet-notification.info > .leaflet-notification-icon > i,
.osmaps-toast > .leaflet-notification.info > .leaflet-notification-close-button {
  color: #453c90;
}

.osmaps-toast > .leaflet-notification.success > .leaflet-notification-icon > i,
.osmaps-toast > .leaflet-notification.success > .leaflet-notification-close-button {
  color: #028043;
}

.osmaps-toast > .leaflet-notification.warning > .leaflet-notification-icon > i,
.osmaps-toast > .leaflet-notification.warning > .leaflet-notification-close-button {
  color: #ff5f00;
}

.osmaps-toast > .leaflet-notification.custom > .leaflet-notification-icon > i,
.osmaps-toast > .leaflet-notification.custom > .leaflet-notification-close-button {
  color: #666666;
}
